*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,li{
  text-decoration: none;
  list-style: none;
}

:root{
  --Soft-blue: #8bacda;
  --Cyan: #00fff7;

/*Neutral*/

--Very-dark-blue-mainBG: #0d192b;
--Very-dark-blue-cardBG: #14253d;
--Very-dark-blue-line: #2e415c;
--White: #ffffff;

/*footer*/

--footer: #3d52a3;
}

body{
  font-family: 'Outfit', sans-serif;
  color: var(--White);
}

.container{
  background-color: var(--Very-dark-blue-mainBG);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card{
  background-color: var(--Very-dark-blue-cardBG);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 16rem;
  height: 28rem;
  padding: 1rem;
  border-radius: 1rem;
  gap: 1rem;
}

.card-main{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}

.card-img{
  display: block;
  width: 14rem;
  border-radius: 1rem;
}

.card-view{
  cursor: pointer;
  position: absolute;
  margin-bottom: 11.5rem;
  padding: 5.5rem 5.5rem;
  border-radius: 1rem;
  background-color: hsla(178, 100%, 50%, 0);
  opacity: 0;
}

.card-view:hover{
  background-color: hsla(178, 100%, 50%, 0.3);
  opacity: 1;
}

.card-title{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  cursor: pointer;
}

.card-title:hover{
  color: var(--Cyan);
}

.card-text{
  color: var(--Soft-blue);
  font-size: 0.8rem;
}

.card-status{
  display: flex;
  align-items:center;
  justify-content:space-between;
  width: 14rem;
  gap: 1rem;
}

.status-1, 
.status-days{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 0.8rem;
}

.status-1{
  color: var(--Cyan);
}

.status-days{
  color: var(--Soft-blue);
}

hr{
  width: 14rem;
  border: 1px var(--Very-dark-blue-line) solid;
}

.profile{
  display: flex;
  text-align: left;
  align-items: center;
  justify-content:flex-start;
  gap: 0.5rem;
  width: 14rem;
}

.creation{
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--Soft-blue);
}

.nameUser{
  color: var(--White);
  cursor: pointer;
}

.nameUser:hover{
  color: var(--Cyan);
}

.picture{
  display: block;
  width: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--White);
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: var(--footer); 
}

.attribution a:hover { 
  color: var(--Soft-blue); 
}